{% extends "base/pipeline.groovy.j2" %}

{% block environment %}
            ANOTHER_SECRET_CREDS = credentials('another_secret')
            TEST = 'Hello world.'
{% endblock %}

{% block stages %}
            stage('Test') {
                steps {
                    echo "Hello ${env.TEST}"
                }
            }
{% endblock %}