def call(Map params = [:]) {
    pipeline {
        agent { label node_label }

        environment {
            SECRET_CREDENTIALS = credentials('super_secret')
            // Custom environment extension
            {% block environment %}
            {% endblock %}
        }

        stages {
            stage('Init') {
                steps {
                    // Do something you do in every pipeline
                    echo 'Init pipeline.'
                    script {
                        // Custom init extension
                        {% block init %}
                        {% endblock %}
                    }
                }
            }

            stage('Checkout') {
                steps{
                    checkout scm
                }
            }

            // Custom stages
            {% block stages %}
            {% endblock %}
        }
    }
}